body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #CCB5AD;
}
main{
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}
.header{
    background-color: #f4f4f4;
    color: #b93131;
    text-align: center;
    padding: 1em;
}
h1{
    text-align: center;
}
.navigation-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #13294b;
}
.navigation-bar a{
    color: #f4f4f4;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navigation-bar a:hover{
    background-color: #b93131;
}
.navigation-bar li{
    float: left;
}