/* Blog Post Styles */
p {
    margin: 0 auto 2.5%;
    padding: 1%;
    background-color: #f6d693;
    border-radius: 50px;
    box-shadow: 0 2px 6px #000000;
    text-align: left;
    max-width: 70%;
    margin: 3%;
}
.blogpost-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2%;
    margin-bottom: 2%;
}
/* Post-it scan styling */
.postit {
        display: flex;
        max-width: 55%;
        max-height: 55%;
        padding: 1%;
        margin: auto;
        border-radius: 50px;
        box-shadow: 0 3px 12px #000000;
    }
/* Blog list style */
.feedbackform-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 3%;
    max-width: 55%;
    max-height: auto;
    border-radius: 50px;
    box-shadow: 0 3px 12px #000000;
    padding: 1%;
}
/* feedback list style */
.feedback-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f6d693;
    border-radius: 50px;
    box-shadow: 0 3px 12px #000000;
    padding: 1%;
}
.feedback-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}