/*Blog page text styling */
.blog-post{
    margin: 3% auto;
    padding: 3%;
    background-color: #f6d693;
    border-radius: 7.5%;
    box-shadow: 0 2px 6px #000000;
    text-align: left;
}
.blog-post-1{
    min-width: 50%;
    max-width: 70%;
}
.blog-post-2{
    min-width: 40%;
    max-width: 60%;
}
.blog-post-3{
    min-width: 60%;
    max-width: 80%;
}
.blog-post-4{
    min-width: 50%;
    max-width: 70%;
}
.blog-post-5{
    min-width: 40%;
    max-width: 80%;
}
.blog-title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3%;
}
.blog-date{
    font-size: 1em;
    margin-bottom: 2%;
}
.blog-content{
    font-size: 1em;
    margin-bottom: 2%;
}
.blog-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 7%;
    max-width: 100%;
}