/*FAQ page text styling */
.faq-item{
    margin: 5% auto;
    padding: 5%;
    margin-bottom: 7%;
    background-color: #f6d693;
    border-radius: 50px;
    box-shadow: 0 6px 12px #000000;
    text-align: left;
    max-width: 90%;
}
.faq-question{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5%;
}
.faq-answer{
    font-size: 1.2em;
    margin-bottom: 5%;
}