/*Home page text styling */
.home-text{
    max-width: 80%;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: #f6d693;
    border-radius: 8%;
    box-shadow: 0 6px 12px #000000;
}
/*Profile photo styling */
.profile-photo {
    max-width: 55%;
    max-height: 55%;
    margin: auto;
    padding: 0.5%;
    border-radius: 5%;
    box-shadow: 0 3px 12px #000000;
}
/*Building photo styling */
.building-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    padding: 1%;
    border-radius: 5%;
    box-shadow: 0 6px 12px #000000;
    
}
.home-container{
    padding-top: 0%;
    padding-bottom: 100px;
}
h1 {
    text-align: center;
    font-size: 3em;
    color: #13294b;
}