/*Profile page text styling */
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    padding: 10px 20px;
    background-color: #f6d693;
    border-radius: 50px;
    box-shadow: 0 6px 12px #000000;

}
.screenshot-container {
    flex: 0 0 auto;
    display: flex;
}

/* Main text styling */
.main-text {
    flex: 1;
    text-align: center;
}

/* Instagram Screenshot styling */
.insta-screenshot {
    width: 40%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 6px 12px #000000;
    margin: 5%;
}

/*Top 5 lists styling */
.list-wrapper {
    margin: 2.5%;
    padding: 2%;
    background-color: #f6d693;
    border-radius: 50px;
    box-shadow: 0 6px 12px #000000;
    flex: 1 1 20%;
    text-align: center;
}

ol.listfood li,
ol.listplaces li,
ol.listgames li {
    padding: 2%;
    margin-bottom: 2%;
    background-color: #c7a867;
    border: solid #837353;
    border-radius: 50px;
    box-shadow: 0 1px 3px #000000;
    text-align: center;
}

/* List container styling */
.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 30%;
    margin-bottom: 5%;
}