/* Reset CSS and Compatibility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, main {
    font-family: Helvetica, sans-serif;
    background-color: #a9ba5e;
    line-height: 1.6;
    font-size: 1.15em;
    padding-top: 5%;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}